# Development and testing files
.vscode/**
.vscode-test/**
src/**
test/**

# Build and config files
.gitignore
.yarnrc
vsc-extension-quickstart.md
tsconfig.json
eslint.config.mjs
.vscode-test.*

# Source files (TypeScript)
**/*.ts
**/*.map

# Git
.git/
.gitignore

# Dependencies
node_modules/

# Misc
**/.DS_Store
